.albums {
    margin-top: 20px;
}

.album {
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

img:hover {
    border-bottom: 4px solid rgb(59, 133, 56);
    cursor: pointer;
}

img {
    width: 250px;
    height: 250px;
}