app-search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;    
}

.albums {
    position: relative;
    top: 240px;
}

.album {
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

img:hover {
    border-bottom: 4px solid rgb(59, 133, 56);
    cursor: pointer;
}

img {
    width: 250px;
    height: 250px;
    z-index: -1;
}