@mixin component() {
    position: fixed;
    top: 0px;
    width: 50%;
    z-index: +1;  
}

app-search { 
    @include component();
    left: 0px;
 }

app-details {
    @include component();
    left: 50%;
}

.albums {
    position: relative;
    top: 240px;
}

.album {
    margin-left: 30px;
    margin-bottom: 20px;
    float: left;
}

img {
    width: 250px;
    height: 250px;
    &:hover {
        border-bottom: 4px solid rgb(59, 133, 56);
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    app-search {
        width: 100%;
    }

    app-details {
        top: 200px;
        width: 100%;
        left: 0px;
    }

    .albums {
        top: 400px;
    }
}