#container {
    padding: 0 10px 20px 30px;
    background-color: aquamarine;
}
 
 input {
    font-size: 1em;    
    width: 20em;
}

@media screen and (max-width: 1000px) {
    input {
        width: 12em;
    } 
}

@media screen and (max-width: 600px) {
    input {
        width: 10em;
    } 
}