#container {
    padding: 0 10px 20px 30px;
    background-color: aquamarine;
    height: 220px;
}

@keyframes fontTableSize {
    from {font-size: 0em; color:white}
    to {font-size: 1em; color: black }
}

span {
    animation-name: fontTableSize;
    animation-duration: 10s;
}

h4 {
    position: absolute;
    top: 0px;
    left: 0px;

    @media screen and (max-width: 600px) {
        left: 30px;
    }
}

table {
    position: absolute;
    font-size: 1.5em;
    top: 90px;
    left: 0px;

    @media screen and (max-width: 600px) {
        left: 30px;
    }
}
